html, body, .root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;

  transition: background-color 0.5s, color 0.5s;
}

.focusMode {
  background-color: #e57373;
  color: #fff;
}

.relaxMode {
  background-color: #81c784;
}

#timer {
  font-size: 144px;
  margin-bottom: 20px;
}

#pomodoros {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 5px;

  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;

  background: rgba(0, 0, 0, .5);
}